/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}


.l-box {
  margin:0.5em;
  padding:0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border:0.01em solid whitesmoke;
}

.play.l-box {
  margin:0.5em;
  padding:0.5em;
   border:0px;
}    

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
 
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
  font-size: 18px;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
  
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
.proposal select {
  height: 30px;
  font-size: 12px;
  line-height: 1.5;
 
  
}

a.github {
  font-family: 'Open Sans', sans-serif;
  margin-top: 4px;
  font-size: 14px;
}

.container {
  padding-top: 80px;

}
@media (min-width:768px){
.proposal label {
 margin-right: 4px;
 width:100px;
 text-align: right;
}
.proposal .votes{
  width:90px;
}
.proposal input {
  border-radius:0px;
}

.proposal .form-inline .form-group {
  margin-left:1px;
  margin-right:1px;
 
 }
.proposal select {
  border-radius: 5px 0px 5px 0px;
  margin-left:1px;
 margin-right:5px;
}
.proposal .btn-sm{
  border-radius:  0px 5px 5px 0px;
  margin-top:1px;
}

}